
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html{
	scroll-behavior:smooth;
	}
html::-webkit-scrollbar {
    display: none;
}
body{
    background: linear-gradient(to left, black 50%,white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: 0.8s ease-in-out;
}
.menu{
    position:fixed;
    border-radius:0 0 12px 12px;
    box-shadow: 5px 1px 20px #888888;
    top:0;
    left:0;
    width:100%;
    padding-top:5px;
    z-index: 103;
    background-color: white;
}
#menu p{
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
}
#menu #dark{
    
    float: right;
    margin-top: 15px;
    margin-right:10px;
    height:30px;
    width: 30px;
    cursor:pointer;

}
#id1{

    margin-left: 4%;
    width:95%;
    border-radius: 20px;
    padding-top: 200px;
    padding-bottom: 300px;
    box-shadow:  5px 10px 18px #888888;
    color:black;
    background:linear-gradient(to right, black 50%,white 50%);
    background-size: 200% 100%;
    background-position:right bottom ;
    transition:0.8s ease-in-out;
}
/*#id1:hover{
    background-position: left bottom;
}*/

#id1 #title{
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    font-size: 50px;
    text-align: left;
}
#id1 img{
    position: absolute;
    height: 500px;
    width: 500px;
    margin-top:-130px;
    margin-left: 1050px;
}
#id1 #pic{
    margin-left: 1200px;
    margin-top: -150px;
    transition: 1.2s ease-in-out;
    z-index: 101;
}
#id1 #back{

    transition: 1.2s ease-in-out;
    z-index: 100;
}

#cur{
    position: fixed;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    pointer-events:none;
    mix-blend-mode: difference;
    display: none;
}
#two{
    background-color: black;
    color: white;
}
#two #text:hover ~ #cur{
    transform: scale(3);
}
#about{
    padding:20px;
    padding-left: 150px;
    margin: 100px;
}
#about-title{
    text-align: center;
    padding:100px;
    margin-top: -20px;
    margin-left: -100px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
#name{
    color:rgba(0, 0, 255, 0.747);
}
#about-img{
    float:left;
    display:block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 1px 20px #888888;
    height: 300px;
    width: 300px;
    transition: 0.8s ease-in-out;
}
#about-img #about-img-prof{
    transition: 1s ease-in-out;
    height: 300px;
    width: 300px;
    border-radius: 5px;

}

#prof-name{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
#about-matter{
    margin-left: 400px;
}
#prof-matter{
    font-family: 'Poppins', sans-serif;
}

#nav{
    position: fixed;
    z-index: 1;
    width:20px;
    top: 300px;
    left: 10px;
    background-color: rgba(17, 17, 17, 0.448);
    padding:10px;
    padding-left: 12px;
    padding-right: 13px;
    border-radius: 80px;
}
#nav #sec p{
    position: fixed;
    bottom: 510px;
    writing-mode:tb-rl;
    transform: rotate(-180deg);
    font-family: 'Poppins', sans-serif;
    left:6px;
}
#nav a{
    text-decoration: none;
    font-size:xx-large;
    font-weight: bolder;
    color: white;

    padding-left: 8px;
    padding-right: 8px;
    margin-left: -13px;
}
#nav a:active{
    border:2px solid white;
    border-radius: 50%;
}
#nav ul{
    margin-top:-2px;
}
#nav li{
    list-style-type: none;
    margin-left: -32px;
    padding-top: 20px;
}
span {
    content: "\00B7";
  }


#home{
    top:-200px;
}


hr{
    transform: rotate(-90deg);
    width:400px;
    position: absolute;
    top:2100px;
    left:600px;
}
#skills{
    margin-left: 4%;
    padding-bottom: 1000px;
    border-bottom: 2px solid black;
}
#sk-t{
    text-align: center;
    padding-top: 80px;
    margin-left: -100px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.sk{
    float:left;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    box-shadow: 5px 1px 20px #888888;
    margin: 50px;
    transition:0.8s ease-in-out;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.288) 50%,white 50%);
    background-size: 200% 100%;
    background-position:right bottom ;
}
.sk img{
    height: 200px;
    width: 200px;
    transition:2s ease-in-out;

    /*filter: invert(1);*/
}
#h-p img{
    margin-top: 10px;
}
#js-p img{
    height:180px;
    width: 180px;
    margin-left: 13px;
    margin-top: 12px;
}
#cs-p img{
    margin-top: 10px;
}
/*#f-p{
    filter: invert(1);
}*/
#m-p{
    position: absolute;
    top:2400px;
    left:40%;

}

.s-t{
    transition-delay: 1s;
}

.sk p{
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    margin-top: -130px;
    visibility: hidden;

}
.sk img:hover{
    transform: rotate(360deg);
    opacity:0.2;
}
.sk img:hover~p{
    visibility: visible;
}

#c-pt{
    margin-left: 80px;
}
#j-pt,#h-pt,#f-pt{
    margin-left: 50px;
}
#p-pt{
    margin-left: 30px;
}
#s-pt,#cs-pt,#ph-pt{
    margin-left: 60px;
}
#js-pt{
    margin-left: 40px;
    margin-top: -160px;
}
#m-pt{
    margin-left:20px;
    margin-top: -160px;
}
